body{
   background-image: url("../images/background.jpg");
   background-size: 100%;
}

#jumbo {
    background-color: slategray;
}

#gifBox{
    color: whitesmoke;
    margin:5px;
  
}

#formBox {
    background-color:whitesmoke;
    border: 3px solid black;
    padding: 5px;
    height:200px;

}

#add-gif{
    margin:5px;
}

.genButt{
    margin: 10px;
}
